body{
    background-color: white;
    font-family: Times;
}
table{
    border-collapse: collapse;
    font-size: 10pt;
    border: 1px solid 234243;
}
td{
    padding: 5px;
    height: 25px;
}
th{
    background-color: steelblue;
    color: white;
    height: 30px;
}
h2{
    font-weight: 600;
    color: steelblue;
}
.btn_delete{
    border: 1px solid black;
    background: red url('images/hapus.png') no-repeat 4px 3px;
    height: 22px;
    width: 20px;
}
.btn_edit{
    border: 1px solid black;
    background: red url('images/edit.png') no-repeat 4px 3px;
    height: 22px;
    width: 20px;
}